
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/Lab1.exe
*.exe
*.pro
*.pro
Labbar/Lab2/Lab2.pro.user
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap02Variabler.o
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap03Flyttal.o
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap01Funk0chCppfiler.o
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap04Heltal.o
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
