
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/Lab1.exe
*.exe
*.pro
*.pro
Labbar/Lab2/Lab2.pro.user
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap02Variabler.o
Labbar/build-Lab2-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap03Flyttal.o
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab3-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/Lab 1/build-Lab1-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap01Funk0chCppfiler.o
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap04Heltal.o
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab4-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap04Litteraler.o
Labbar/build-Lab5-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap05ifSatser.o
Labbar/build-Lab5-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/build-Lab5-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab5-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab5-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/build-Lab5-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab5-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap05switchSatsen.o
Labbar/build-Lab6-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/build-Lab6-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap06OmEnhetstestning.o
Labbar/build-Lab6-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab6-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab6-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/build-Lab6-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/Kap7/Kap7.pro.user
Labbar/build-Kap7-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Kap7-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/build-Kap7-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/build-Kap7-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Kap7-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Kap7-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap07MerOmFunktioner.o
Labbar/build-Lab8-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/build-Lab8-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab8-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/mattefunktioner.o
Labbar/build-Lab8-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab8-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/build-Lab8-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab9-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap09Loopar.o
Labbar/build-Lab9-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/build-Lab9-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab9-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab9-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/build-Lab9-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab9-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap09Loopar2.o
Labbar/build-Lab9-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap09Loopar3.o
Labbar/build-Lab9-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap09Loopar4.o
Labbar/build-Lab10-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
Labbar/build-Lab10-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap10CArrayOchStdVector.o
Labbar/build-Lab10-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
Labbar/build-Lab10-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
Labbar/build-Lab10-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
Labbar/build-Lab10-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
Labbar/build-Lab10-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap10CArrayOchStdVector2.o
Labbar/build-Lab10-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/kap10CArrayOchStdVector3.o
